# A. IMPORTATION DE LIBRAIRIES

In [10]:
# importation de librairie

In [11]:
import numpy as np

# 1. Tableau

## 1.1 Tableau a 1D

In [14]:
# Creation d'un tableau a 1D
tab_1D = np.array([2,4,6,8,10,12,14])

In [15]:
tab_1D

array([ 2,  4,  6,  8, 10, 12, 14])

In [16]:
print(tab_1D)

[ 2  4  6  8 10 12 14]

In [17]:
print(tab_1D.shape)

(7,)

In [18]:
type(tab_1D)

numpy.ndarray

In [19]:
print("Dimension de tableau", tab_1D.shape)
print("Type du tableau", type(tab_1D))
print("Voici le tableau:", tab_1D)

Dimension de tableau (7,)
Type du tableau <class 'numpy.ndarray'>
Voici le tableau: [ 2  4  6  8 10 12 14]

## 1.2 Tableau 2D

In [21]:
# Creation d'un tableau a 2D
tab_2D = np.array([
    [1,3,5,7,8],
    [11,33,55,77,88]
])

In [22]:
print("Dimension de tableau", tab_2D.shape)
print("Type du tableau", type(tab_2D))
print("Voici le tableau:", tab_2D)

Dimension de tableau (2, 5)
Type du tableau <class 'numpy.ndarray'>
Voici le tableau: [[ 1  3  5  7  8]
 [11 33 55 77 88]]

## 1.3 Tableau 3D

In [24]:
# Creation d'un tableau 3D
tab_3D = np.array([[
    [9,7,5,3,1],
    [100,90,70,50,30],
    [115,95,75,55,35]
]])

In [25]:
print("Dimension de tableau", tab_3D.shape)
print("Type du tableau", type(tab_3D))
print("Voici le tableau:", tab_3D)

Dimension de tableau (1, 3, 5)
Type du tableau <class 'numpy.ndarray'>
Voici le tableau: [[[  9   7   5   3   1]
  [100  90  70  50  30]
  [115  95  75  55  35]]]

## 1.4 Tableau a 4D

In [27]:
# Creation d'un tableau 4D
tab_4D = np.array([[[
    [2,4,6,8,10],
    [25,45,65,85,105],
    [200,150,100,55,25],
]]])

In [28]:
print("Dimension de tableau", tab_4D.shape)
print("Type du tableau", type(tab_4D))
print("Voici le tableau:", tab_4D)

Dimension de tableau (1, 1, 3, 5)
Type du tableau <class 'numpy.ndarray'>
Voici le tableau: [[[[  2   4   6   8  10]
   [ 25  45  65  85 105]
   [200 150 100  55  25]]]]

# B. OPERATIONS

In [30]:
a = np.array([
    [2,4,6,8],
    [25,45,65,85],
])

b = np.array([
    [20,40,60,80],
    [250,450,650,850],
])

In [31]:
print(a.shape)
print(a)
print(b.shape)
print(b)

(2, 4)
[[ 2  4  6  8]
 [25 45 65 85]]
(2, 4)
[[ 20  40  60  80]
 [250 450 650 850]]